*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #080808;
    color: #fff;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 280px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    position: relative;
    box-sizing: border-box;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #9d8dc2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* Image gallery */

.container2{
    position: relative;
    min-height: 100vh;
}
.container2 h1{
    font-size: 40px;
    font-weight: normal;
    padding: 40px 15px 15px 15px;
    text-align: center;
    text-transform: capitalize;
}
.container2 .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 100px;
}
.container2 .image-container .image{
   height: 400px;
   width: 600px;
   border: 5px solid white;
   box-shadow: 0 5px 15px rgba(0,0,0,.1);
   overflow: hidden;
   cursor: pointer;
   border-radius: 10px;
}
.container2 .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}
.container2 .image-container .image:hover img{
    transform: scale(1.1);
}
.container2 .popup-image{
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.container2 .popup-image span{
    position: absolute;   
    top: 20px;
    right: 20px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.container2 .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    border-radius: 10px;
    width: 80%;
    object-fit: cover;
}
@media (max-width:600px){
    .container2 .popup-image img{
        width: 95%;
    }
    .container2 .image-container .image{
        width: 100%;
        height: auto;
    }
    .logo{
        width: 200px;
    }
}